body{
    background-color: burlywood;
}

.project {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50px;
  }

.image{
    width: 186px;
    height: 186px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 50%;
    
}

.card{
    border: 3px solid darkgoldenrod;
    padding: 10px;
    border-radius: 10%;
    text-align: center;
  }

.mail{
    color: black;
}